.nx-data-display{
  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
    text-align: center;
  }
  
  .count {
    margin: 8px 0;
    font-weight: bold;
    font-size: 32px;
    color: #15A0FF;
  }
  
  .title {
    color: #999;
  }
  
  .splitLine {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 1px;
    background: #9B9B9B;
  }
}